@media only screen and (min-width: 768px) {
    .container-služby {
        display: flex;
        justify-content: space-between;
    }

    .služba {
        flex: 0 1 30%;
        margin: 0;
    }

    .img-text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .img-text__popis {
        text-align: left;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .container-klienti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 32px;
    }

    .klient-card {
        margin: 0;
    }

    .img-text.team-card {
        flex-direction: row;
    }

    .team-card .btn {
        margin: 0 auto 0 0;
    }

    .team-card__jméno {
        text-align: left;
    }

    .team-card__img {
        flex: 0 0 200px;
    }
}